@media (max-width: : 500px) {
    .image_title{
      font-size: 100%;
    }
}


body {
  padding-top: 30px;
  padding-bottom: 70px;
}

img {
          display: block;
          height: auto;
          max-width: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.well{
background-color: rgb(0, 0, 0);
}

.well-correct{
background-color: #b29d85;
}

.well-wrong{
background-color: rgb(22, 105, 173);
}

.image_title{
  font-size:200%;
  font-weight: bold;
}
.text-center{
  font-size:250%;
  font-weight:bold;
}

.about-text{
  font-size:150%;
}

.instruction-text{
  font-size:150%;
}

.menu-links{
  font-size:150%;
}

.nav-links{
  font-size:150%;
}

.survey-text{
  font-size:150%;
}

.dropdown-backdrop {
  position: static;
}

.subreddit-text{
  text-align:center;
  font-weight:bold;
  font-size:250%
}

.more-popular-text{
  text-align:center;
  font-weight:bold; 
  font-size:300%
}

.thank-you-text{
  font-size:150%;
  text-align: left;
}

.feedback-text{
  font-size: 250%;
  text-align:center;
}

.share-text{
  font-size: 200%;
  text-align:center;
}

.fb-share-button span {
   top: -9px;
}


@media screen and (max-width: 480px) {
    .image_title{
      font-size:100%;
    }
    .text-center{
      font-size:150%;
    }
    .subreddit-text{
      font-size:150%;
    }
    .more-popular-text{
      font-size:200%;
    }
    .feedback-text{
      font-size:150%;
    }
    .share-text{
      font-size:110%;
    }
    .fb-share-button span{
      top:0px;
    }
}

