

.page-header{
margin: 10px;
}

hr
{
    border: 2px solid #000;
}

/*nav.navbar.navbar-default {
   background-image: none;
   background-color: aqua;
}

​body {
    background-color: #F0F0F0;
}*/

/*.col-xs-6 {
    width: 48%;
  background-color: white;
    border: 1px solid gainsboro;
    margin: 1%;
  padding-bottom: 13px;
}*/
​

.question_div{
  background-color: #F0F0F0;
}

.img-responsive {
    margin: 0 auto;
}

@media (max-width: : 500px) {
    .image_title{
      font-size: 100%;
    }
}


body {
  padding-top: 30px;
  padding-bottom: 70px;
}

img {
          display: block;
          height: auto;
          max-width: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.well{
background-color: rgb(0, 0, 0);
}

.well-correct{
background-color: #b29d85;
}

.well-wrong{
background-color: rgb(22, 105, 173);
}


.title_container{
  display:block;
  height:80px;
  overflow: hidden;



}

.image_title{
  font-size:200%;
  font-weight: bold;
  white-space: initial;
  overflow: hidden;    
  position: relative;         
}

.text-main{
  font-size:200%;
  font-weight:bold;
}

.about-text{
  font-size:150%;
}

.instruction-text{
  font-size:150%;
}

.menu-links{
  font-size:150%;
}

.nav-links{
  font-size:150%;
}

.survey-text{
  font-size:150%;
  /*text-align:center;*/
}

.survey-title{
  font-size:175%;
}


.dropdown-backdrop {
  position: static;
}

.subreddit-text{
  text-align:center;
  font-weight:bold;
  font-size:200%
}

.more-popular-text{
  text-align:center;
  font-weight:bold; 
  font-size:200%
}

.opinion-text{
  text-align:center;
  font-weight:bold; 
  font-size:200%
}

.thank-you-text{
  font-size:150%;
  text-align: left;
}

.feedback-text{
  font-size: 250%;
}

.share-text{
  font-size: 200%;
  text-align:center;
}

.fb-share-button span {
   top: -9px;
}

.img-gtk{
  width:400px;
  height: auto;
}

.fulltext {
    display: block;
}


.image_container {
height: 1000px;
padding-top: 10px;

}

#image_row{
  height: 1000px;
}
#image_column{
  height: 1000px
}



.score_text {
  text-align: left;
  font-size:200%;
}

#outer_image_container{
  padding-bottom: :10px;
  height:1000px;
}


.image_container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
/*   padding-top: 10px;
*/   opacity: 0.4;


}

.text-main{
  text-align: center
}

#prediction_question {
    background-color: aqua;
}

#guess-question-only{
  background-color:aqua;
}


#opinion_question {
    background-color: white;
}

#enlarge-text{
  text-align: center;
  font-size:125%;
}


@media screen and (max-width: 480px) {
    .image_title{
      font-size:100%;
    }
    .text-main{
      font-size:150%;
    }
    .subreddit-text{
      font-size:110%;
    }
    .more-popular-text{
      text-align:left;

      font-size:90%;
    }
    .opinion-text{
      text-align: center;
      font-size: 100%;
    }
    .score_text{
      font-size:100%;
    }
    .feedback-text{
      font-size:125%;
    }
    .share-text{
      font-size:110%;
    }
    .image_container{
      height: 200px;
    }
    .fb-share-button span{
      top:0px;
    }
    .enlarge-text{
      font-size:100%;
    }
    .survey-title{
      font-size:125%;
    }
    .survey-text{
      font-size:100%;
    }
    #survey.container{
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    }
    body { 
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    #survey .col-xs-12{
     padding: 0 !important;
     margin: 0 !important;

    }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}